<!DOCTYPE html>

<html>
    <head>
        <title>SCS Day 2016 Puzzlehunt</title>
        <link rel="icon" href="/static/favicon.ico">
    </head>
    <body>
        <div>
            <a href='/home'>Home</a>
            <a href='/register'>Register</a>
            <a href='/puzzles'>Puzzles</a>
            <a href='/solve'>Solve!</a>
            <a href='/teams'>Leaderboard</a>
            <a href='/whatis'>Puzzlehunt Guide</a>
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
