{% extends "base.html" %}
{% block content %}
<p>Your submission of {{ guess }} for the puzzle {{ puzzle_name }} was correct!</p>
{% if response %}
<p>{{ response }}</p>
{% endif %}
{% if meta_solved %}
<p>It turns out that Andrew Moore, the Dean of SCS, was holding on to Derpy the whole time! You sprint to his office (but not in real life), and give a hurried knock on the heavy door. In due time, it creeps open to reveal Andrew Moore himself holding a small Derpy dragon figure!</p>
<p>Excuse me, sir, uh... SCS Day is starting soon and... we could really use our mascot, Derpy the dragon." Your words are broken from your sprint over.</p>
<p>The Dean smiles at you, "Oh you mean this old guy? Ah, I see. Well, the thing is, Derpy isn't this year's mascot!" What? You're surprised. "You see, I chose this year's SCS Day mascot, and I've been using Derpy here as my model for comparison.</p>
<p>It all makes sense! That's why you've been seeing this other monstrous, colorful, way better drawn dragon around. That's the REAL SCS Day mascot, and Derpy here is just another derpy, awesome dragon.</p>
<p>"Anyway, you might as well have Derpy. We finished SCS Day planning long ago, and I think he'll be happier with you." Andrew Moore hands Derpy. Yours eyes are starting to tear up.</p>
<p>"Thank you... thank you so much." you manage to utter as Professor Moore begins to close the door. You made it! You finished!</p>
<p>"Really, no problem," says Moore as he waves you bye. "See you at SCS Day!" he says. In the corner of your eye, you might have been imagining it, but you thought you saw a derpy foot give a tiny wave in return.</p>
<img src="/static/images/dragon.png" style="width:900px">
{% endif %}
{% endblock %}
