{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<p>Welcome to SCS Puzzlehunt 2016!</p>

<p>Find out what happened to Derpy the Dragon!</p>

<p>This is a weeklong puzzlehunt event taking place during the week preceding SCS Day 2016. Two puzzles will be released per day at noon on each of Monday, Tuesday, Wednesday, and Thursday. On Thursday we will also release a metapuzzle. Solve the metapuzzle to finish the puzzlehunt!</p>

<p>Regardless of how many puzzlehunts you've participated in, we suggest having a look at the "Puzzlehunt Guide" section.</p>
<script src="../static/js/jquery/jquery-2.1.0.min.js"></script>
<script src="../static/js/home.js"></script>
{% endblock %}
