{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<!--<div align="center"><img src="/static/images/derpy_dragon.png" id="derpy"></div>-->
<p>Welcome to SCS Day Puzzlehunt 2016!</p>

<p>Where did Derpy the Dragon go? Solve puzzles to find out!</p>

<p>For the first time ever SCS Day will be accompanied by a weeklong puzzlehunt. Starting on February 22, two puzzles will be released per day at noon on each of Monday, Tuesday, Wednesday, and Thursday. On Thursday we will also release a metapuzzle. Solve the metapuzzle to finish the puzzlehunt! </p>

<p>Register your team of up to 4 in the "Register" section. If you've already done that, we suggest having a look at the "Puzzlehunt Guide" section.</p>

<p>See you Monday!</p>
<p style="font-size: 80%">Made in collaboration with PuzzlehuntCMU (register for our <a href="http://puzzlehunt.club.cc.cmu.edu/hunt/info/" target="_blank">spring puzzlehunt</a> - details <a href="https://www.facebook.com/groups/puzzlehuntCMU/">here</a> soon)</p>
<script src="../static/js/jquery/jquery-2.1.0.min.js"></script>
<script src="../static/js/home.js"></script>

{% endblock %}
