{% extends "base.html" %}
{% block content %}
    {% for (day, puzzles) in puzzdays %}
        {% if loop.index != 1 %}<hr>{% endif %}
        <h5> > {{ day }}</h5>
        <p class="p-puzzle"><a href="/puzzles/{{ day }}_plot.pdf">Derpy Hunt: Day {{ loop.index }}</a></p>
            {% for puzzle in puzzles %}
            {% if puzzle['number'] == meta_number %}
            <hr>
            <h5> > Meta </h5>
            {% endif %}
            <div class="row">
                <div class="four columns">
                    <a href="/puzzles/{{ puzzle['pdf_name'] }}.pdf">{{ puzzle['puzzle_name'] }}</a>
                </div>
                <div class="three columns">
                    <p class="p-puzzle">Total solves: {{ puzzle['total_solves'] }}</p>
                </div>
                <div class="three columns">
                    {% block hints scoped %}{% endblock %}
                </div>
            </div>
            {% endfor %}
    {% endfor %}
    {% block epilogue %} {% endblock %}
{% endblock %}
