{% extends "base.html" %}
{% block content %}
    <table style="table-layout: fixed">
        <col style="width: 10ch">
        <col style="width: 110ch">
        <col style="width: 5ch">
        <col style="width: 80ch">
        <tbody>
            <tr>
                <th>Day</th>
                <th>Puzzle</th>
                <th>Solve Count</th>
                <th>The Story So Far</th>
            </tr>
    {% for (day, puzzles) in puzzdays %}
        <tr>
            <td>{{ day }}</td><td></td><td></td>
            <td rowspan="{{ puzzles|length + 1}}">
                <a href="/puzzles/{{ day }}_plot.pdf">{{ day }} plot</a>
            </td>
        </tr>
            {% for puzzle in puzzles %}
            <tr>
                <td></td>
                <td><a href="/puzzles/{{ puzzle['pdf_name'] }}.pdf">{{ puzzle['puzzle_name'] }}</a>
                    {% block hints scoped %}{% endblock %}
                </td>
                <td>{{ puzzle['total_solves'] }}</td>
            </tr>
            {% endfor %}
    {% endfor %}
        </tbody>
    </table>
    <div align="center">
        <img src="/static/images/derpy_dragon.png" style="width:200px;">
    </div>
{% endblock %}
