{% extends "base.html" %}
{% block content %}
        <p>Register a new team here.</p>
        <form id="register" action method="post">
            <div>
                Team Name
                <input type='text' name='team_name' maxlength='50'>
            </div>
            <div>
                Team Password
                <input type='password' name='password' maxlength='50'>
            </div>
            <div>
                Retype Password
                <input type='password' name='password2' maxlength='50'>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% endblock %}
