{% extends "base.html" %}
{% block content %}
<p>Register a new team here.</p>
        <form id="register" action method="post">
            <div class="row">
                    <div class="three columns">Team Name</div>
                    <div class="three columns">
                        <input type='text' name='team_name' maxlength='50'>
                    </div>
            </div>
            <div class="row">
                    <div class="three columns">Team Password</div>
                    <div class="three columns">
                        <input type='password' name='password' maxlength='50'></br>
                    </div>
            </div>
            <div class="row">
                    <div class="three columns">Retype Password</div>
                    <div class="three columns">
                        <input type='password' name='password2' maxlength='50'></br>
                    </div>
            </div>
            <div class="row">
                    <div class="three columns">Team Contact Name</div>
                    <div class="three columns">
                        <input type='text' name='name' maxlength='50'></br>
                    </div>
            </div>
            <div class="row">
                    <div class="three columns">Team Contact Email</div>
                    <div class="three columns">
                        <input type='text' name='email' maxlength='50'></br>
                    </div>
                    <div class="three columns"><p style="font-size: 80%">Use something you check. We recommend @andrew.cmu.edu.</p></div>
            </div>
            <input class="submit-button" type="submit" value="Submit">
        </form>
        {% endblock %}
