{% extends "base.html" %}
{% block content %}
    <table>
        <tbody>
            <tr>
                <th>Day</th>
                <th>Puzzle</th>
                <th>Solve Count</th>
                <th>Story</th>
            </tr>
    {% for (day, puzzles) in puzzdays %}
        <tr>
            <td>{{ day }}</td><td></td><td></td>
        </tr>
            {% for puzzle in puzzles %}
            <tr>
                <td></td>
                <td><a href="/puzzles/{{ puzzle['pdf_name'] }}.pdf">{{ puzzle['puzzle_name'] }}</a>
                    <a href="/puzzles/hint/{{ puzzle['pdf_name'] }}">(hint)</a>
                    <a href="/puzzles/{{ puzzle['pdf_name'] }}_sol.pdf">(solution)</a>
                </td>
                <td>{{ puzzle['total_solves'] }}</td>
                <td>
                    {% if puzzle['puzzle_name'] != "Hello World" %}
                    <a href="/puzzles/{{ puzzle['pdf_name'] }}.png">pic</a>
                    {% endif %}
                </td>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
