{% extends "base.html" %}

{% block content %}
        <table>
            <tbody>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Puzzles Solved</th>
                </tr>
                {% for team in teams %}
                <tr>
                    <td>{{1 + team[0]}}</td>
                    <td>{{team[1][0]}}</td>
                    <td>{{team[1][1]}}</td>
                </tr>    
                {% endfor %}    
            </tbody>
        </table>
        {% endblock %}
