{% extends "base.html" %}

{% block content %}
<p>Teams are ranked by total number of puzzles solved, then by time of last solve.<br> The metapuzzle is worth two puzzle solves!</p>
        <table style="table-layout: fixed;">
            <col style="width: 5ch">
            <col style="width: 50ch">
            <col style="width: 20ch">
            <col style="width: 30ch">
            <tbody>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Puzzles Solved</th>
                    <th>Last Solve Time</th>
                </tr>
                {% for rank, team in teams %}
                <tr>
                    <td>{{ 1 + rank }}</td>
                    <td><a href="/teams/?{{ team['escaped_name'] }}">{{ team['team_name'] }}</a></td>
                    <td>{{ team['total_solves'] }}</td>
                    <td>{{ team['solve_time'] }}</td>
                </tr>    
                {% endfor %}    
            </tbody>
        </table>
        {% endblock %}
