{% extends "base.html" %}
{% block content %}
    <p>{{ team }}</p>

    <table style="table-layout: fixed">
        <col style="width: 10ch">
        <col style="width: 30ch">
        <col style="width: 30ch">
        <tbody>
            <tr>
                <th>Day</th>
                <th>Puzzle</th>
                <th>Solve Time</th>
            </tr>
    {% for (day, puzzles) in puzzdays %}
        <tr>
            <td>{{ day }}</td><td></td><td></td>
        </tr>
            {% for puzzle in puzzles %}
            <tr>
                <td></td>
                <td>{{ puzzle['puzzle_name'] }}</td>
                <td>{{ puzzle['solve_time'] }}</td>
            </tr>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
