{% extends "base.html" %}
{% block content %}
<h4>Rules</h4>

<ul>
    <li>Your team should have no more than 4 members. The hunt is designed for teams of this size.</li>
    <li>There will be a prize for the fastest team to solve the puzzlehunt, to be awarded at the SCS Day Talent Show. In order to be eligible for prizes, a majority of a team's members must be from SCS.</li>
    <li>Two puzzles will be released on each of Monday, Tuesday, Wednesday, and Thursday at noon. On the day after a puzzle is released, a hint for that puzzle will be released. The winner will be determined at noon on Friday, but we will accept submissions until Saturday noon.</li>
    <li> Any attempt to cheat or hack the server will result in immediate ejection.</li>
</ul>

<h4>Puzzling Advice</h4>

<p>The puzzles can be extremely varied, but they will all share a few common threads:</p>
<ul>
    <li>Each puzzle has a one or two word English answer. When you determine what the answer is, you should know that you have it.</li>
    <li>How to extract the answer is not conveyed in any explicit instructions. That being said, each puzzle is designed so that obtaining the answer follows naturally from the components of the puzzle. Finding out how to obtain the answer and carrying out that process is the crux of the puzzle.</li>
    <li>There are some components that can help put you on the right path towards a solve. Puzzles have titles, which often convey a hint. Some puzzles also have one or more sentences that cryptically clue you towards a solve. This often goes by the name <i>flavor text</i>.</li>
    <li>You will never have to anagram letters. Remember that puzzle answers are unique! If the method you use could lead to many different answers, it may not be correct.</li>
    <li>Finally, listen to your teammates. You will almost certainly be required to think creatively and outside of the box, and even an idea you think won't work may lead to an answer.</li>
</ul>

<p>At the end of the hunt, you must solve the metapuzzle. The metapuzzle will be released on Thursday, and before you attempt it you will probably want to have solved most or all of the prior puzzles. Exactly how the prior puzzles tie in to the metapuzzle is up to you to determine.</p>

{% endblock %}
